#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 26px;
    padding-left: 10px;
}

#right-panel select, #right-panel input {
    font-size: 15px;
}   

#right-panel select {
    width: 100%;
    overflow-x: scroll;  
}

#right-panel option {
    width: 140%;
    height: 20px;
    padding: 5px;  
}

p {
    font-size: 14px;
    margin: 1;
    padding: 1;
}

button {
    border: 1px solid #999999;
    background-color: #cccccc3d;
    color: #000000;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #000000;
}

#right-panel p { 
    margin: 0;
    padding: 0;
}

#right-panel i {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    float: left;
    width: 71%;
    height: 100%;
}

#right-panel {
    margin: 20px;
    border-width: 2px;
    width: 24%;
    height: 400px;
    float: left;
    text-align: left;
    padding-top: 0;
}

#waypoints {
    height: 300px;
}
