<!doctype html>
<html>
	<head> 
		<title> Custom Page </title>
		<link rel="stylesheet" type ="text/css" href="css/main.css"/>
	</head>
	<body>
		<p>Hello</p>
	</body>
		<!--<button onclick="getLocation()">Try It</button>

		<p id="demo"></p>

		<script>
		var x = document.getElementById("demo");

		function getLocation() {
    	if (navigator.geolocation) {
        	navigator.geolocation.getCurrentPosition(showPosition);
    	} 
		else { 
        	x.innerHTML = "Geolocation is not supported by this browser.";
    	}
		}

		function showPosition(position) {
    	x.innerHTML = "Latitude: " + position.coords.latitude + 
    	"<br>Longitude: " + position.coords.longitude;
		}
        //then here, before the selection algorithm starts, we need to import
		//starting locations for each neighborhood, so lat & long
		//that way, once the algorithm runs, we can determine which
		//neighborhood is closest to the user

		//somewhere here we should define a variable that is equal
		//to what is written above


		//selection algorithm
        -->
</html>