<!doctype html>
<html>

<head>

	<title> MCMM Routing Guide </title>
	<link href="Style.css" rel="stylesheet" type="text/css"/>

</head>

	
	<body>
		<h1>MCMM Routing Guide</h1>

		<ul>
		


		</ul>>

		<a href="http://www.google.com"> This is a link to google </a>
		<br><br>

		<form action="">
		First name:<br>
		<input type="text" name="firstname">
		<br>
		Last name:<br>
		<input type="text" name="lastname">
		</form>

		<br>

			<fieldset>
  		<legend>Choose your architect</legend>

  		<div>
    	<input type="checkbox" id="coding" name="interest" value="coding">
    	<label for="coding">Alden B. Dow</label>
  		</div>

  		<div>
    	<input type="checkbox" id="music" name="interest" value="music">
    	<label for="music">Francis Warner</label>
  		</div>


  		<div>
    	<input type="checkbox" id="music" name="interest" value="music">
    	<label for="music">Jackson Hallett</label>
  		</div>


  		<div>
    	<input type="checkbox" id="music" name="interest" value="music">
    	<label for="music">Glen Beach</label>
  		</div>  	

  		<div>
    	<input type="checkbox" id="music" name="interest" value="music">
    	<label for="music">Robert Schwartz</label>
  		</div> 


  		<div>
    	<input type="checkbox" id="music" name="interest" value="music">
    	<label for="music">C.G. Shulwitz</label>
  		</div> 

  		<div>
    	<input type="checkbox" id="music" name="interest" value="music">
    	<label for="music">C.G. Shulwitz</label>
  		</div> 

  		<div>
    	<input type="checkbox" id="music" name="interest" value="music">
    	<label for="music">C.G. Shulwitz</label>
  		</div> 





			</fieldset>


			<br>







		Select your preferred architect
		<form action="/action_page.php">
  	<select name="cars">
    <option value="un">un</option>
    <option value="abd">abd</option>
    <option value="warn">warn</option>
    <option value="hall">hall</option>
  	</select>
  	<br><br>
		</form>

		<br>
		Select your preferred decade
		<form action="/action_page.php">
  	<select name="cars">
    <option value="92">92</option>
    <option value="93">93</option>
    <option value="94">94</option>
    <option value="95">95</option>
  	</select>
  	<br><br>
		</form>

		<br>
		Select the architect
		<form action="/action_page.php">
  	<select name="cars">
    <option value="volvo">ABDOW</option>
    <option value="saab">Architect 2</option>
    <option value="fiat">Architect 3</option>
    <option value="audi">Architect 4</option>
  	</select>
  	<br><br>

		</form>


		<!-- this is where the custom route stuff starts,
		note that we should have another section before or
		after this, on the same page, that brings the users
		to the predetermined routes page -->


		<p>Click the button to generate your custom route </p>

		<!-- so this part of the code essentially generates user location -->

		<button onclick="getLocation()">Try It</button>

		<p id="demo"></p>

		<script>
		var x = document.getElementById("demo");

		function getLocation() {
    	if (navigator.geolocation) {
        	navigator.geolocation.getCurrentPosition(showPosition);
    	} 
		else { 
        	x.innerHTML = "Geolocation is not supported by this browser.";
    	}
		}

		function showPosition(position) {
    	x.innerHTML = "Latitude: " + position.coords.latitude + 
    	"<br>Longitude: " + position.coords.longitude;
		}
		//then here, before the selection algorithm starts, we need to import
		//starting locations for each neighborhood, so lat & long
		//that way, once the algorithm runs, we can determine which
		//neighborhood is closest to the user

		//somewhere here we should define a variable that is equal
		//to what is written above


		//selection algorithm

		//I wrote this class here but I think we need to write it 
		//as a middleware function inside index.js. 
		//I'm pretty sure that if we do that, we can use this class
		//in the same way on all pages
		//I know we thought we didnt need routes, but we may
		//need them to direct this hbs page to the next one?

		class Structure {
			constructor(a,b,c,d,e,f,g,h,i,j){
				this.address_city = a;
				this.address_number = b;
				this.address_state = c;
				this.address_street = d;
				this.architect = e;
				this.building_type = f;
				this.characteristics_sum = g;
				this.decade = h;
				this.neighborhood = i;
				this.property_address = j;
			}
		}




		</script>



	</body>



</html>