<!DOCTYPE html>
<html>

	<head>

	<title> MCMM Routing Guide </title>
	<link href="stylesheet" href="../style/main.css"/>
		<script type="text/javascript">        
            
			

			var jsonString = "{{value}}";
			var jsonData = JSON.parse(jsonString.replace(/&quot;/g,'"'));   

			

			function narrowItAgain() { 
				var archsChecked = whatDoWeHave();
				var decsChecked = whatElseDoWeHave();
				var newness = narrowList();
				var evenNewer = [];


				if (archsChecked.length == 0) {
					alert("Please select at least one option per category");
					return;
				}

				if (decsChecked.length == 0) {
					alert("Please select at least one option per category");
					return;
				}


				for (var i=0; i<decsChecked.length; i++) {              
					if (decsChecked[i] == "1930") {
					Object.entries(newness).forEach(
						([key, value]) => {      
							if (value.decade == "93") {
								evenNewer.push(value);                            
							}
						});
					}

					if (decsChecked[i] == "1940") {
					Object.entries(newness).forEach(
						([key, value]) => {      
							if (value.decade == "94") {
								evenNewer.push(value);                            
							}
						});
					}

					if (decsChecked[i] == "1950") {
					Object.entries(newness).forEach(
						([key, value]) => {      
							if (value.decade == "95") {
								evenNewer.push(value);                            
							}
						});
					}

					if (decsChecked[i] == "1960") {
					Object.entries(newness).forEach(
						([key, value]) => {      
							if (value.decade == "96") {
								evenNewer.push(value);                            
							}
						});
					}

					if (decsChecked[i] == "1970") {
					Object.entries(newness).forEach(
						([key, value]) => {      
							if (value.decade == "97") {
								evenNewer.push(value);                            
							}
						});
					}

					if (decsChecked[i] == "1980") {
					Object.entries(newness).forEach(
						([key, value]) => {      
							if (value.decade == "98") {
								evenNewer.push(value);                            
							}
						});
					}

					if (decsChecked[i] == "1990") {
					Object.entries(newness).forEach(
						([key, value]) => {      
							if (value.decade == "99") {
								evenNewer.push(value);                            
							}
						});
					}

				}

				console.log(evenNewer);  
			}



			function narrowList() {
				var archsChecked = whatDoWeHave();
				var decsChecked = whatElseDoWeHave();
				var newness = [];            


				for (var i=0; i<archsChecked.length; i++) {              
					if (archsChecked[i] == "Dow") {
					Object.entries(jsonData).forEach(
						([key, value]) => {      
							if (value.architect == "dow") {
								newness.push(value);                            
							}
						});
					}

					if (archsChecked[i] == "Warn") {
					Object.entries(jsonData).forEach(
						([key, value]) => {                       
							if (value.architect == "warn") {
								newness.push(value);                            
							}
						});
						
					}

					if (archsChecked[i] == "Hall") {
					Object.entries(jsonData).forEach(
						([key, value]) => {                       
							if (value.architect == "hall") {
								newness.push(value);                            
							}
						});
						
					}
					
					if (archsChecked[i] == "Beach") {
					Object.entries(jsonData).forEach(
						([key, value]) => {                       
							if (value.architect == "bea") {
								newness.push(value);                            
							}
						});
					}
					
					if (archsChecked[i] == "Schwartz") {
					Object.entries(jsonData).forEach(
						([key, value]) => {                       
							if (value.architect == "sch") {
								newness.push(value);                            
							}
						});
					}
					
					if (archsChecked[i] == "Shul") {
					Object.entries(jsonData).forEach(
						([key, value]) => {                       
							if (value.architect == "shul") {
								newness.push(value);                            
							}
						});
					} 

					if (archsChecked[i] == "Good") {
					Object.entries(jsonData).forEach(
						([key, value]) => {                       
							if (value.architect == "good") {
								newness.push(value);                            
							}
						});
					}                               

				}

				return newness;                                  
			}     



			function whatDoWeHave() {
				var archCheckboxes = document.getElementsByName('archBox');
				var archsChecked = [];

				for (var i=0; i<archCheckboxes.length; i++) {
					if (archCheckboxes[i].checked) {
						archsChecked.push(archCheckboxes[i].value);
					}
				}              

				return archsChecked;
			}

			function whatElseDoWeHave() {
				var decCheckboxes = document.getElementsByName('decBox');
				var decsChecked = [];              

				for (var i=0; i<decCheckboxes.length; i++) {
					if (decCheckboxes[i].checked) {
						decsChecked.push(decCheckboxes[i].value);
					}
				}

				return decsChecked;
			}        


            
    	</script>
	</head>
	
	<body>
		
	<!--	<div id="container">
			<div id="custom">-->

			<h1>Create a route in Google Maps</h1>

			<form action="javascript:narrowList() & narrowItAgain()"> 
			
				<p>Choose a Mid-Century Modern Architect</p>

				<input type="checkbox" name="archBox" value="Dow"> Alden B. Dow
				<br>

				<input type="checkbox" name="archBox" value="Warn"> Francis Warner
				<br>

				<input type="checkbox" name="archBox" value="Hall"> Jackson Hallett
				<br>

				<input type="checkbox" name="archBox" value="Beach"> Glen Beach
				<br>   

				<input type="checkbox" name="archBox" value="Schwartz"> Robert Schwartz
				<br>   

				<input type="checkbox" name="archBox" value="Shul"> C.G. Shulwitz
				<br>
			
				<input type="checkbox" name="archBox" value="Good"> Robert Goodall
				<br>
			
				<p>Decade Built</p>        

				<input type="checkbox" name="decBox" value="1930"> 1930's
				<br>

				<input type="checkbox" name="decBox" value="1940"> 1940's
				<br>

				<input type="checkbox" name="decBox" value="1950"> 1950's
				<br>   

				<input type="checkbox" name="decBox" value="1960"> 1960's
				<br>   

				<input type="checkbox" name="decBox" value="1970"> 1970's
				<br>
			
				<input type="checkbox" name="decBox" value="1980"> 1980's
				<br>
        
        		<input type="checkbox" name="decBox" value="1990"> 1990's
        		<br><br>

        		<input type="submit" value="Submit">
        
    		</form>
			<!--	</div>
			<div id="predetermined">
				<p>Predetermined routes go here</p> 
			</div>

		</div> -->




	</body>


</html>