<!DOCTYPE html>
<html>

	<head>

	<title> MCMM Routing Guide </title>
	<link rel="stylesheet" type ="text/css" href="css/main.css"/>
		<script type="text/javascript" src="javascript/firstalgorithm.js"></script>

	</head>
	
	<body>
		
		<div id="container">
			<div id="custom">

			<h1>Create a route in Google Maps</h1>

			<form action="javascript:whatArhitects() & whatDecades() & narrowByArch() & narrowByDec() & orderList()"> 
			
				<p>Choose a Mid-Century Modern Architect</p>

				<input type="checkbox" name="archBox" value="Dow"> Alden B. Dow
				<br>

				<input type="checkbox" name="archBox" value="Warn"> Francis Warner
				<br>

				<input type="checkbox" name="archBox" value="Hall"> Jackson Hallett
				<br>

				<input type="checkbox" name="archBox" value="Beach"> Glen Beach
				<br>   

				<input type="checkbox" name="archBox" value="Schwartz"> Robert Schwartz
				<br>   

				<input type="checkbox" name="archBox" value="Shul"> C.G. Shulwitz
				<br>
			
				<input type="checkbox" name="archBox" value="Good"> Robert Goodall
				<br>
			
				<p>Decade Built</p>        

				<input type="checkbox" name="decBox" value="1930"> 1930's
				<br>

				<input type="checkbox" name="decBox" value="1940"> 1940's
				<br>

				<input type="checkbox" name="decBox" value="1950"> 1950's
				<br>   

				<input type="checkbox" name="decBox" value="1960"> 1960's
				<br>   

				<input type="checkbox" name="decBox" value="1970"> 1970's
				<br>
			
				<input type="checkbox" name="decBox" value="1980"> 1980's
				<br>
        
        		<input type="checkbox" name="decBox" value="1990"> 1990's
        		<br><br>

        		<input type="submit" value="Submit">
        
    		</form>
			</div>
			<div id="predetermined">
				<p>Predetermined routes go here</p> 
			</div>

		</div> 




	</body>


</html>