<!doctype html>
<html>

<!--<head>

	<title>MCMM</title>

    <script type="text/javascript">        
                    
        function mapsAPI() {
            var loc1 = "2203 Eastman Road";
            var loc2 = "1212 Helen St";
            var loc3 = "1805 W Sugnet";
            var city = "Midland";
            var state = "MI";
        }      
           
    </script>

</head>



<body>
	<h1>Create a route in Google Maps</h1>

	<form action="javascript:mapsAPI()"> 

        <input type="submit" value="Submit">
        
    </form>


</body>-->

<!-- Josh's code-->

<!doctype html>
<html>
  <head>
    <style>
      #map {
        width: 400px;
        height: 400px;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>

    <!-- Google Maps JS API -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <!-- GMaps Library -->
    <script src="gmaps.js"></script>
    <script>
      /* Map Object */
      var mapObj = new GMaps({
        el: '#map',
        lat: 48.857,
        lng: 2.295
      });
    </script>

    <!-- we have to include geocoding here to encode the locations in the array that gets sent over-->

  </body>
</html>
</html>